body {
  background: #489991;
  color: #4e0e29;
  padding: 10px;
  font-family: Tokyo, sans-serif;
  font-size: 120%;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/*navigation menu*/

nav {
  background: #FFDDD2;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px #00383D;
}

h1 {
  display: flex;
  align-items: center;
  color: #4e0e29;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 50;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 10px
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
  text-shadow: 0px 0px 5px #00383D;
  transition: all .5s ease-in-out
}

a {
  text-decoration: none;
  color: #EDF6F9;
  font-size: 125%;
}

/* Container area below the menu*/

main {
  background: #FFDDD2;
  display: flex;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 15px 5px 5px #00383D;
}

.sidebar {
  margin-right: 25px;
  padding: 15px;
  
}

.sidebar-img {
  width: 200px;
}

.content {
  flex: 1;
  padding: 15px;
}

/*Interests section styles*/
#interests {
  border: 4px silver ridge;
  padding: 8px;
  margin-top: 20px;
}

h2,
h3 {
  margin: 0px;
  font-size: 120%;
  font-style: underline;
}

@font-face {
  font-family: "Tokyo";
  src: url("fonts/tokyo_3/Tokyo.ttf") format("truetype");
  font-weight: 40;
  font-style: normal;
  font-display: swap;
}

.content, .interests{
  background-color: #FE5D9F;
  margin: auto;
  margin-right: 5%;
  border-radius: 15px;
}

/* hovering */

.nav-li:hover {
    transition-duration: .5s;
    transform: scale(120%);
}

a:hover{
  color: white;
  transition-duration: .7s;
}
